#notifications-container {
  padding: 0;
  border: 0;
}

#notifications-container .dropdown-toggle::after {
  content: none;
}

#notifications-toggle::after {
  content: none;
}

#notifications-toggle .counter {
  position: absolute;
  top: 0;
  right: 2px;
  z-index: 2;
  font-size: 14px;
  color: red;
}

#notifications-toggle {
  overflow: visible;
}

#notifications-toggle mdb-icon {
  font-size: 1.3em;
  color: #616161;
}

#notifications-header {
  padding: 10px 8px;
  cursor: pointer;
}

#notifications-header * {
  cursor: pointer;
}

#notifications-header h6 {
  text-transform: uppercase;
  margin: 0;
}

#notifications-dropdown {
  max-height: 500px;
  padding: 0;
}

#notifications-dropdown li:hover {
  background: #e4e6e8;
}

#notifications-dropdown li.notification {
  padding: 5px;
  border-bottom: 1px solid #eff0f1;
}

#notifications-dropdown li.notification > div {
  position: relative;
}

#notifications-dropdown .left-panel.unread {
  font-weight: bold;
}

#notifications-dropdown .warning .left-panel mdb-icon {
  color: #ffd600 !important;
  font-size: 1.5em;
}

#notifications-dropdown .right-panel p {
  margin: 0;
}

#notifications-dropdown .right-panel .message::first-letter {
  text-transform: capitalize;
}

#notifications-dropdown .right-panel .message span {
  text-transform: uppercase;
}

#notifications-dropdown .actions {
  position: absolute;
  bottom: 0;
  right: 10px;
}

.alert {
  margin: 0;
}
