// #intraday-table-container {
//   overflow: auto;
// }

tr.mat-header-row {
  height: 30px;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
}

@media screen and (min-width: 600px) {
  #intraday-table-container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  #intraday-table-container {
    width: 100%;
  }
}
