<div fxLayoutAlign="end">
  <button
    id="disconnect"
    mat-flat-button
    matTooltip="Detener sincronización"
    color="warn"
    *ngIf="appHasAccess"
    (click)="disconnectFitbit()"
  >
    <mat-icon>link_off</mat-icon>
  </button>
</div>
<devices-panel
  [fitbitAccounts]="currentUser.data.fitbitAccounts"
  (showHeartRateData_EE)="getHeartRateData($event)"
></devices-panel>

<!-- <mat-action-list *ngIf="!appHasAccess" color="primary">
  <h3 mat-subheader>Fitbit users</h3>
  <button
    mat-list-item
    *ngFor="let fitbitAccount of currentUser?.data.fitbitAccounts"
    (click)="showData(fitbitAccount.id)"
  >
    <img matListAvatar src="assets/images/avatars/defaultProfile_150.png" alt="..." />
    <div mat-line>{{ fitbitAccount.firstname + " " + fitbitAccount.lastname + " " + fitbitAccount.lastname2 }}</div>
  </button>
</mat-action-list> -->

<fitbit-data></fitbit-data>
