<mat-accordion>
  <mat-expansion-panel
    fxLayout="column"
    [expanded]="isFirst"
    *ngFor="let fitbitAccount of fitbitAccounts | keyvalue; first as isFirst"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ fitbitAccount.value.fullname }}
      </mat-panel-title>
      <mat-panel-description>
        {{ "dashboard.devices_panel.age" | translate }}: {{ age(fitbitAccount.value.birthdate) }} |
        {{ "dashboard.devices_panel.height" | translate }}: {{ fitbitAccount.value.height_cm }} |
        {{ "dashboard.devices_panel.weight" | translate }}:
        {{ fitbitAccount.value.weight_kg }}
      </mat-panel-description>
      <button
        id="show-data"
        click-stop-propagation
        mat-flat-button
        color="primary"
        (click)="getHeartRateData(fitbitAccount.value)"
      >
        {{ "dashboard.devices_panel.show_data" | translate }}
      </button>
    </mat-expansion-panel-header>
    <mat-list role="list" id="devices">
      <mat-list-item *ngFor="let device of fitbitAccount.value.devices | keyvalue" role="listitem">
        <span fxLayoutAlign="space-around center"
          ><img
            matListAvatar
            src="http://localhost:3000/devices/{{ device.value.image }}"
            alt="device.value.image"
            width="50"
          />
          {{ device.value.brand }} {{ device.value.model }}</span
        >
        <div>
          <!-- <button mat-flat-button color="primary" (click)="getHeartRateData(fitbitAccount.value)">
            {{ "dashboard.devices_panel.show_data" | translate }}
          </button> -->
        </div>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
<div *ngIf="(fitbitAccounts | json) === '{}'">
  {{ "dashboard.devices_panel.this_user_has_no_active_fitbit_accounts_to_monitor" | translate }}
</div>
