#notifications-container .dropdown-toggle::after {
  content: none;
}

#notifications-dropdown {
  max-height: 500px;
  padding: 0;
}

#notifications-dropdown ul {
  min-width: 500px;
}

#notifications-dropdown li:hover {
  background: #e4e6e8;
}

#notifications-dropdown li.notification {
  padding: 5px;
  border-bottom: 1px solid #eff0f1;
}

#notifications-dropdown .left-panel.unread {
  background-color: #ffd452;
}

#notifications-dropdown .left-panel .warning mdb-icon {
  color: white;
  font-size: 2em;
}

#notifications-dropdown .right-panel p {
  margin: 0;
}

#notifications-toggle::after {
  content: none;
}

#notifications-toggle span.counter {
  position: relative;
  padding: 0.3em 0.5em 0.3em;
  top: -1em;
  left: -1em;
  z-index: 2;
  font-size: 11px;
  color: #fff;
  background-color: #fe1212;
  border-radius: 10em;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#notifications-toggle {
  overflow: visible;
}

#notifications-container {
  padding: 0;
}

#notifications-header,
#notifications-header * {
  cursor: pointer;
}

#notifications-header h6 {
  text-transform: uppercase;
}

#notifications-header {
  padding: 10px 8px;
}

#notifications-header h6 {
  margin: 0;
}

#notifications-toggle mdb-icon {
  font-size: 1.3em;
  color: #616161;
}
