<li class="nav-item dropdown" dropdown>
  <a
    dropdownToggle
    type="button"
    class="nav-link waves-light"
    mdbWavesEffect
    id="notifications-toggle"
  >
    <mdb-icon fas icon="bell"></mdb-icon>
    <span *ngIf="unread" class="counter">{{ unread }}</span>
  </a>
  <div
    *dropdownMenu
    class="dropdown-menu dropdown dropdown-primary dropdown-menu-right z-depth-1-half"
    role="menu"
    id="notifications-container"
  >
    <div
      fxLayout
      fxLayoutAlign="space-between center"
      id="notifications-header"
      class="blue accent-1"
      [routerLink]="['/notifications']"
    >
      <h6>
        {{ "home.main_menu.notifications_dropdown.inbox" | translate }}
      </h6>
      <div>
        <!-- <a href="#"> -->
        <label>
          {{
            "home.main_menu.notifications_dropdown.all_notifications"
              | translate
          }}
        </label>
        <!-- </a> -->
      </div>
    </div>
    <div
      id="notifications-dropdown"
      fxLayout="column"
      style="overflow-y: scroll;"
    >
      <ul>
        <li
          *ngFor="let notification of notifications"
          [routerLink]="['/notifications']"
          class="notification"
        >
          <div fxLayout fxFlex class="{{ notification.severity }}">
            <div
              fxLayout
              fxFlex="10"
              fxLayoutAlign="center center"
              class="left-panel"
            >
              <mdb-icon
                fas
                icon="{{ ICONS[notification.severity] }}"
              ></mdb-icon>
            </div>
            <div
              fxFlex="90"
              fxLayoutAlign="center flex-start"
              fxLayout="column"
              class="right-panel"
              [class.unread]="notification.read === false"
            >
              <label class="notification-moment ml-auto mb-auto">{{
                notification.created | replaceSubstring: "\\.\\d\\d\\d":""
              }}</label>

              <label class="notification-subject mb-auto">{{
                notification.subject
              }}</label>
              <p class="notification-payload">
                {{ notification.payload }}
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</li>
