<!-- Table  -->
<div class="table-responsive z-depth-1">
  <table mdbTable class="table" hover="true" striped="true">
    <!-- Table head -->
    <thead class="blue-grey darken-3 white-text">
      <tr>
        <th>
          {{
            "incidents_panel.dialog.incident_details.initial_classification"
              | translate
          }}
        </th>
        <th>
          {{ "shared.date" | translate }}/{{
            "incidents_panel.time" | translate
          }}
        </th>
        <th>{{ "shared.name" | translate }}</th>
        <th>{{ "shared.actions" | translate }}</th>
      </tr>
    </thead>
    <!-- Table head -->

    <!-- Table body -->
    <tbody>
      <tr
        *ngFor="let incident of incidents"
        [routerLink]="['/incidents']"
        (click)="viewIncidentDetails($event, incident)"
        [ngClass]="{
          accident: incident?.accident
        }"
      >
        <td [ngClass]="incident?.accident ? 'red-text' : 'amber-text'">
          {{
            "shared." + (incident.accident ? "accident" : "incident")
              | translate
          }}
        </td>
        <td>
          {{ incident?.created + "Z" | dynamicMoment: "LLL" | async }}
        </td>

        <td>
          {{ incident?.clientAccountFullname }}
        </td>
        <td scope="row">
          <mdb-icon
            [title]="
              (incident?.processed
                ? incident.actual_accident
                  ? 'shared.accident'
                  : 'incidents_panel.false_alarm'
                : 'incidents_panel.process_incident'
              )
                | translate
                | sentenceCase
            "
            [mdbPopover]="popTemplate"
            placement="left"
            #pop="bs-mdbPopover"
            [mdbPopoverHeader]="'incidents_panel.process_incident' | translate"
            fas
            [icon]="
              incident?.processed
                ? incident.actual_accident
                  ? 'check-double'
                  : 'times-circle'
                : 'ellipsis-h'
            "
            [ngClass]="
              incident?.processed
                ? incident.actual_accident
                  ? 'red-text'
                  : 'light'
                : 'link'
            "
          ></mdb-icon>
          <ng-template #popTemplate>
            <div
              fxLayout
              fxLayoutAlign="space-around center"
              click-event
              click-event-params="[stopPropagation]"
            >
              <button
                (click)="pop.hide(); processIncident(incident, true)"
                style="background: transparent; border: none;"
              >
                <mdb-icon
                  placement="bottom"
                  mdbTooltip="{{ 'accident' | translate | sentenceCase }}"
                  fas
                  icon="check-double"
                  class="red-text"
                ></mdb-icon>
              </button>
              <button
                (click)="pop.hide(); processIncident(incident, false)"
                style="background: transparent; border: none;"
              >
                <mdb-icon
                  placement="bottom"
                  mdbTooltip="{{ 'incidents_panel.false_alarm' | translate }}"
                  fas
                  icon="times-circle"
                ></mdb-icon>
              </button>
            </div>
          </ng-template>
        </td>
      </tr>
      <tr *ngIf="incidents.length === 0">
        <td colspan="99999">
          <div
            class="alert alert-primary"
            role="alert"
            style="text-align: center;"
          >
            {{ "incidents_panel.no_incidents" | translate }}
          </div>
        </td>
      </tr>
    </tbody>
    <!-- Table body -->
  </table>
</div>

<!-- Table  -->
