<!-- Table  -->
<div class="table-responsive z-depth-1">
  <table mdbTable class="table" hover="true">
    <!-- Table head -->
    <thead class="blue-grey darken-3 white-text">
      <tr>
        <th>
          {{ "shared.initial_classification" | translate }}
        </th>
        <th>{{ "shared.date" | translate }}/{{ "shared.time" | translate }}</th>
        <th>
          {{ "shared.name" | translate }}
        </th>
        <th>{{ "shared.message" | translate }}</th>
        <th>
          {{ "shared.actions" | translate }}
        </th>
      </tr>
    </thead>
    <!-- Table head -->

    <!-- Table body -->
    <tbody>
      <tr
        *ngFor="let incident of incidents"
        [routerLink]="['/incidents']"
        class="incident"
        (click)="viewIncidentDetails($event, incident)"
        [ngClass]="{ actual_accident: incident?.actual_accident }"
      >
        <td>
          <!-- <mdb-icon fas icon="{{ ICONS[incident?.severity] }}"></mdb-icon> -->
          {{ (incident.accident ? "accident" : "incident") | translate }}
        </td>
        <td>
          {{ incident?.created + "Z" | dynamicMoment: "LLL" | async }}
        </td>

        <td>
          {{ incident?.clientAccountFullname }}
        </td>
        <td class="message">
          {{ incident.content }}
        </td>
        <td scope="row">
          <!-- mdbTooltip="{{
            incident?.processed
              ? incident.actual_accident
                ? 'actual_accident'
                : 'false_alarm'
              : ('process' | translate)
          }}" -->
          <mdb-icon
            [title]="
              (incident?.processed
                ? incident.actual_accident
                  ? 'actual_accident'
                  : 'false_alarm'
                : 'process'
              ) | translate
            "
            [mdbPopover]="popTemplate"
            [outsideClick]="true"
            placement="left"
            #pop="bs-mdbPopover"
            mdbPopoverHeader="Process incident"
            fas
            [icon]="
              incident?.processed
                ? incident.actual_accident
                  ? 'check-double'
                  : 'times-circle'
                : 'ellipsis-h'
            "
            [ngClass]="
              incident?.processed
                ? incident.actual_accident
                  ? 'red-text'
                  : 'light'
                : 'link'
            "
          ></mdb-icon>
          <ng-template #popTemplate>
            <div fxLayout fxLayoutAlign="space-around center">
              <mdb-icon
                placement="bottom"
                mdbTooltip="{{ 'actual_accident' | translate }}"
                fas
                icon="check-double"
                class="red-text"
                (click)="pop.hide(); processIncident(incident, true)"
              ></mdb-icon>
              <mdb-icon
                placement="bottom"
                mdbTooltip="{{ 'false_alarm' | translate }}"
                fas
                icon="times-circle"
                (click)="pop.hide(); processIncident(incident, false)"
              ></mdb-icon>
            </div>
          </ng-template>
        </td>
      </tr>
      <tr *ngIf="incidents.length === 0">
        <td colspan="5">
          <div
            class="alert alert-primary"
            role="alert"
            style="text-align: center;"
          >
            {{ "incidents_panel.no_incidents" | translate }}
          </div>
        </td>
      </tr>
    </tbody>
    <!-- Table body -->
  </table>
</div>

<!-- Table  -->
