table {
  margin: 0;
}

thead th::first-letter {
  text-transform: capitalize;
}

tr td:first-of-type {
  text-transform: capitalize;
}

th,
td {
  text-align: center;
}

tr td mdb-icon {
  font-size: 1.2em;
}

mdb-icon {
  cursor: pointer;
}

:host::ng-deep mdb-tooltip-container .arrow {
  display: none;
}

table th,
table td {
  padding: 5px 5px;
  vertical-align: middle !important;
}

@media screen and (max-width: 350px) {
  table th,
  table td {
    font-size: 12px !important;
    padding: 1px 3px;
  }
}
