<div id="intraday-container">
  <mat-form-field *ngIf="heartRateIntraday && heartRateIntraday.length">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
  </mat-form-field>

  <div *ngIf="heartRateIntraday && heartRateIntraday.length" class="intraday-table-container mat-elevation-z8">
    <table mat-table [dataSource]="heartRateIntraday">
      <!-- time -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let row">{{ row.time }}</td>
      </ng-container>

      <!-- heart rate value -->
      <ng-container matColumnDef="heart-rate">
        <th mat-header-cell *matHeaderCellDef>Heart rate</th>
        <td mat-cell *matCellDef="let row">
          {{ row.value }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="intradayDisplayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let day; columns: intradayDisplayedColumns"></tr>
    </table>
  </div>

  <div *ngIf="heartRateIntraday && !heartRateIntraday.length && !heartRateIntradayLoading">
    No existen resultados para el intervalo seleccionado.
  </div>
  <div *ngIf="heartRateIntradayLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
