table {
  width: 100%;
}

.intraday-table-container {
  max-height: 600px;
  max-width: 300px;
  overflow: auto;
}

tr.mat-header-row {
  height: 30px;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
}
