#interday-container {
  width: 100%;
}

table {
  width: 100%;
}

#interday-table-container {
  max-height: 400px;
  overflow: auto;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
}

tr.mat-row:not(.highlight):hover {
  background: #eaeaea;
}

tr.mat-header-row {
  height: 30px;
}

tr.mat-row.highlight {
  background: #e36060;
}

mat-paginator {
  float: right;
}

mat-paginator {
  width: 100%;
}

@media screen and (min-width: 600px) {
  mat-form-field,
  #interday-table-container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  mat-form-field,
  #interday-table-container,
  mat-paginator {
    width: 100%;
  }
}
