<div
  id="admin-component-container"
  fxLayout
  fxLayout.lt-lg="column"
  fxLayoutGap="10px"
  fxLayoutAlign="space-between start"
>
  <users-panel
    fxFlex="50"
    [users]="users"
    [clientAccounts]="clientAccounts"
    (deleteUser_EE)="deleteUser($event)"
    (unlinkFromClientAccount_EE)="unlinkFromClientAccount($event)"
    (linkToClientAccount_EE)="linkToClientAccount($event)"
  >
  </users-panel>

  <mat-divider vertical="true"></mat-divider>
  <client-accounts-panel
    fxFlex="50"
    [clientAccounts]="clientAccounts"
    (refreshAccessToken_EE)="refreshAccessToken($event)"
    (revokeAccessToken_EE)="revokeAccessToken($event)"
    (deleteFitbitAccount_EE)="deleteFitbitAccount($event)"
  ></client-accounts-panel>
</div>
