<div id="admin-component-container" fxLayout fxLayout.lt-md="column" fxLayoutGap="10px">
  <users-panel
    [users]="users"
    [fitbitAccounts]="fitbitAccounts"
    (deleteUser_EE)="deleteUser($event)"
    (unlinkFromFitbitAccount_EE)="unlinkFromFitbitAccount($event)"
    (linkToFitbitAccount_EE)="linkToFitbitAccount($event)"
    (refreshAccessToken_EE)="refreshAccessToken($event)"
    (revokeAccessToken_EE)="revokeAccessToken($event)"
  >
  </users-panel>
  <mat-divider vertical="true"></mat-divider>
  <fitbit-accounts-panel
    [fitbitAccounts]="fitbitAccounts"
    (deleteFitbitAccount_EE)="deleteFitbitAccount($event)"
  ></fitbit-accounts-panel>
</div>
