#fitbit-data-container {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  margin-top: 5px;
  padding: 5px;
}

table {
  width: 100%;
}

div.specific-range-container {
  margin-top: 5px;
}

#interday-table-container {
  max-height: 700px;
  overflow: auto;
}

.mat-header-cell,
.mat-cell {
  text-align: center;
}

tr.mat-row.highlight {
  background: #e36060;
}

tr.mat-row:not(.highlight):hover {
  background: #eaeaea;
}

tr.mat-header-row {
  height: 30px;
}

mat-paginator {
  float: right;
  width: 100%;
}

#intraday-container {
  min-width: 0;
}

#intraday-chart-container {
  width: 100%;
  height: fit-content !important;
}

@media screen and (max-width: 959px) {
  #interday-table-container {
    max-height: 300px;
  }
}

@media screen and (max-width: 350px) {
  #interday-table th,
  #interday-table td {
    font-size: 12px !important;
  }
}
