<div *ngIf="showComponent" fxLayout="column">
  <h1 class="mat-headline">
    {{ "dashboard.fitbit_data.heart_rate_time_series_for_user" | translate }}: <b>{{ fitbitAccount?.fullname }}</b>
  </h1>
  <!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile
        dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card> -->

  <div class="form">
    <mat-button-toggle-group name="fontStyle" aria-label="Range selection" value="PREDEFINED_RANGE">
      <mat-button-toggle (click)="rangeTypeChanged(PREDEFINED_RANGE)" value="PREDEFINED_RANGE">
        {{ "dashboard.fitbit_data.predefined" | translate }}
      </mat-button-toggle>
      <mat-button-toggle (click)="rangeTypeChanged(SPECIFIC_RANGE)" value="SPECIFIC_RANGE">{{
        "dashboard.fitbit_data.specific" | translate
      }}</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field *ngIf="rangeType === PREDEFINED_RANGE">
      <mat-select [disabled]="rangeType !== PREDEFINED_RANGE" [(value)]="selectedPredefinedRange">
        <mat-option
          *ngFor="let predefinedRange of predefinedRanges | keyvalue: sortNull"
          value="{{ predefinedRange.key }}"
        >
          <!-- {{ "dashboard.fitbit_data.predefined_ranges" | translate: param }} -->
          {{ predefinedRange.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="rangeType === SPECIFIC_RANGE">
      <input
        id="specific-range-from"
        disabled
        matInput
        [matDatepicker]="from"
        placeholder="{{ 'dashboard.fitbit_data.from' | translate }}"
        [(ngModel)]="specificRangeFrom"
        [min]="SPECIFIC_RANGE_MIN_BOTH"
        [max]="SPECIFIC_RANGE_MAX_BOTH"
        (dateChange)="specificRangeChanged($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
      <mat-datepicker [disabled]="rangeType !== SPECIFIC_RANGE" #from></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <mat-form-field *ngIf="rangeType === SPECIFIC_RANGE">
      <input
        id="specific-range-to"
        disabled
        matInput
        [matDatepicker]="to"
        placeholder="{{ 'dashboard.fitbit_data.to' | translate }}"
        [(ngModel)]="specificRangeTo"
        [min]="SPECIFIC_RANGE_MIN_BOTH"
        [max]="SPECIFIC_RANGE_MAX_BOTH"
        (dateChange)="specificRangeChanged($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
      <mat-datepicker [disabled]="rangeType !== SPECIFIC_RANGE" #to></mat-datepicker>
    </mat-form-field>

    <button
      [disabled]="rangeType === SPECIFIC_RANGE && (!specificRangeFrom || !specificRangeTo)"
      mat-flat-button
      color="primary"
      (click)="updateTable()"
    >
      <mat-icon>autorenew</mat-icon>
    </button>
  </div>

  <div>
    <interday-heartrate-table
      [heartRateInterday]="heartRateInterday"
      [heartRateInterdayLoading]="heartRateInterdayLoading"
      [dataSource]="dataSource"
      [fitbitAccountID]="fitbitAccount.id"
    ></interday-heartrate-table>
  </div>
</div>
