<div
  id="fitbit-data-container"
  *ngIf="showComponent"
  fxLayout
  fxLayoutAlign="start none"
  fxLayoutGap="10px"
  fxLayout.lt-lg="column"
>
  <div id="controls-container" fxLayout="column" fxLayoutAlign="start none">
    <mat-button-toggle-group
      name="fontStyle"
      aria-label="Range selection"
      value="PREDEFINED_RANGE"
    >
      <mat-button-toggle
        (click)="rangeTypeChanged(PREDEFINED_RANGE)"
        value="PREDEFINED_RANGE"
        fxFlex="1 1 0%"
      >
        {{ "dashboard.fitbit_data.predefined" | translate }}
      </mat-button-toggle>
      <mat-button-toggle
        (click)="rangeTypeChanged(SPECIFIC_RANGE)"
        value="SPECIFIC_RANGE"
        fxFlex="1 1 0%"
        >{{ "dashboard.fitbit_data.specific" | translate }}</mat-button-toggle
      >
    </mat-button-toggle-group>
    <mat-form-field *ngIf="rangeType === PREDEFINED_RANGE">
      <mat-select
        [disabled]="rangeType !== PREDEFINED_RANGE"
        [(value)]="selectedPredefinedRange"
      >
        <mat-option
          *ngFor="let predefinedRange of predefinedRanges | keyvalue"
          value="{{ predefinedRange.key }}"
        >
          {{ predefinedRange.value | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="rangeType === SPECIFIC_RANGE">
      <input
        id="specific-range-from"
        disabled
        matInput
        [matDatepicker]="from"
        placeholder="{{ 'dashboard.fitbit_data.from' | translate }}"
        [(ngModel)]="specificRangeFrom"
        [min]="SPECIFIC_RANGE_MIN_BOTH"
        [max]="SPECIFIC_RANGE_MAX_BOTH"
        (dateChange)="specificRangeChanged($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
      <mat-datepicker
        [disabled]="rangeType !== SPECIFIC_RANGE"
        #from
      ></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <mat-form-field *ngIf="rangeType === SPECIFIC_RANGE">
      <input
        id="specific-range-to"
        disabled
        matInput
        [matDatepicker]="to"
        placeholder="{{ 'dashboard.fitbit_data.to' | translate }}"
        [(ngModel)]="specificRangeTo"
        [min]="SPECIFIC_RANGE_MIN_BOTH"
        [max]="SPECIFIC_RANGE_MAX_BOTH"
        (dateChange)="specificRangeChanged($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
      <mat-datepicker
        [disabled]="rangeType !== SPECIFIC_RANGE"
        #to
      ></mat-datepicker>
    </mat-form-field>

    <button
      [disabled]="
        rangeType === SPECIFIC_RANGE && (!specificRangeFrom || !specificRangeTo)
      "
      mat-flat-button
      color="primary"
      (click)="updateTable()"
    >
      <mat-icon>autorenew</mat-icon>
    </button>
  </div>

  <div
    *ngIf="!heartRateInterdayLoading && interdayDataSource?.data.length"
    fxLayout
    fxLayout.lt-md="column"
    fxLayoutGap="10px"
    id="heart-rate-container"
    fxFlex="1 1 0%"
  >
    <div fxLayout="column" id="interday-container" fxFlex="1 1 0%">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="{{
            'dashboard.fitbit_data.interday.filter' | translate
          }}"
        />
      </mat-form-field>

      <div id="interday-table-container">
        <table
          id="interday-table"
          mat-table
          [dataSource]="interdayDataSource"
          matSort
          class="mat-elevation-z8"
        >
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr
            mat-row
            *matRowDef="let day; columns: displayedColumns; let i = index"
            [ngClass]="{ highlight: i == selectedRowIndex }"
            (click)="getIntraday(day, i)"
          ></tr>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ "dashboard.fitbit_data.interday.date" | translate }}
            </th>
            <td mat-cell *matCellDef="let day">{{ day["date"] }}</td>
          </ng-container>

          <!-- out of range -->
          <ng-container matColumnDef="hrz_1">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="background: lightgreen"
            >
              <!-- {{ HEART_RATE_ZONES.hrz_1 }} -->
              {{ hrz_translations[HEART_RATE_ZONES.hrz_1] | translate }}
            </th>
            <td mat-cell *matCellDef="let day">
              <span *ngIf="day[HEART_RATE_ZONES.hrz_1]; else no_activity">
                <div fxLayout="column">
                  <div>
                    {{
                      day[HEART_RATE_ZONES.hrz_1].caloriesOut | number: ".2-2"
                    }}
                    {{ "dashboard.fitbit_data.interday.calories" | translate }}.
                  </div>
                  <div>
                    {{ day[HEART_RATE_ZONES.hrz_1].minutes }}
                    {{ "dashboard.fitbit_data.interday.minutes" | translate }}.
                  </div>
                </div>
              </span>
              <ng-template #no_activity
                ><label style="color: lightgray">{{
                  "dashboard.fitbit_data.interday.no_activity_perceived"
                    | translate
                }}</label></ng-template
              >
            </td>
          </ng-container>

          <!-- fat burn -->
          <ng-container matColumnDef="hrz_2">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="background: #ecec69"
            >
              <!-- {{ HEART_RATE_ZONES.hrz_2 }} -->
              {{ hrz_translations[HEART_RATE_ZONES.hrz_2] | translate }}
            </th>
            <td mat-cell *matCellDef="let day">
              <span *ngIf="day[HEART_RATE_ZONES.hrz_2]; else no_activity">
                <div fxLayout="column">
                  <div>
                    {{
                      day[HEART_RATE_ZONES.hrz_2].caloriesOut | number: ".2-2"
                    }}
                    {{ "dashboard.fitbit_data.interday.calories" | translate }}.
                  </div>
                  <div>
                    {{ day[HEART_RATE_ZONES.hrz_2].minutes }}
                    {{ "dashboard.fitbit_data.interday.minutes" | translate }}.
                  </div>
                </div>
              </span>
              <ng-template #no_activity
                ><label style="color: lightgray">{{
                  "dashboard.fitbit_data.interday.no_activity_perceived"
                    | translate
                }}</label></ng-template
              >
            </td>
          </ng-container>

          <!-- Cardio -->
          <ng-container matColumnDef="hrz_3">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="background: rgb(255, 160, 36)"
            >
              <!-- {{ HEART_RATE_ZONES.hrz_3 }} -->
              {{ hrz_translations[HEART_RATE_ZONES.hrz_3] | translate }}
            </th>
            <td mat-cell *matCellDef="let day">
              <span *ngIf="day[HEART_RATE_ZONES.hrz_3]; else no_activity">
                <div fxLayout="column" fxLayoutAlign="center center">
                  <div>
                    {{
                      day[HEART_RATE_ZONES.hrz_3].caloriesOut | number: ".2-2"
                    }}
                    {{ "dashboard.fitbit_data.interday.calories" | translate }}.
                  </div>
                  <div>
                    {{ day[HEART_RATE_ZONES.hrz_3].minutes }}
                    {{ "dashboard.fitbit_data.interday.minutes" | translate }}.
                  </div>
                </div>
              </span>
              <ng-template #no_activity
                ><label style="color: lightgray">{{
                  "dashboard.fitbit_data.interday.no_activity_perceived"
                    | translate
                }}</label></ng-template
              >
            </td>
          </ng-container>

          <!-- peak -->
          <ng-container matColumnDef="{{ HEART_RATE_ZONES.hrz_4 }}">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="background: rgb(182, 27, 27); color: white"
            >
              <!-- {{ HEART_RATE_ZONES.hrz_4 }} -->
              {{ hrz_translations[HEART_RATE_ZONES.hrz_4] | translate }}
            </th>
            <td mat-cell *matCellDef="let day">
              <span *ngIf="day[HEART_RATE_ZONES.hrz_4]; else no_activity">
                <div fxLayout="column">
                  <div>
                    {{
                      day[HEART_RATE_ZONES.hrz_4].caloriesOut | number: ".2-2"
                    }}
                    {{ "dashboard.fitbit_data.interday.calories" | translate }}.
                  </div>
                  <div>
                    {{ day[HEART_RATE_ZONES.hrz_4].minutes }}
                    {{ "dashboard.fitbit_data.interday.minutes" | translate }}.
                  </div>
                </div>
              </span>
              <ng-template #no_activity
                ><label style="color: lightgray">{{
                  "dashboard.fitbit_data.interday.no_activity_perceived"
                    | translate
                }}</label></ng-template
              >
            </td>
          </ng-container>

          <ng-container matColumnDef="steps">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              style="background: rgb(29, 133, 244); color: white"
            >
              <!-- {{ HEART_RATE_ZONES.hrz_4 }} -->
              {{ "dashboard.fitbit_data.interday.steps" | translate }}
            </th>
            <td mat-cell *matCellDef="let day">
              <span *ngIf="day['steps']; else no_activity">
                {{ day["steps"] }}
              </span>
              <ng-template #no_activity
                ><label style="color: lightgray">{{
                  "dashboard.fitbit_data.interday.no_activity_perceived"
                    | translate
                }}</label></ng-template
              >
            </td>
          </ng-container>
        </table>

        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
      </div>
    </div>

    <div
      *ngIf="showIntradayData"
      fxLayout
      id="intraday-container"
      fxFlex="1 1 0%"
    >
      <div
        *ngIf="!heartRateIntradayLoadingError && !!chart"
        id="intraday-chart-container"
        class="mat-elevation-z8"
      >
        <div style="position: relative;width: 100%; z-index:1">
          <!-- <button (click)="hideIntradayData()" mat-button style="position: absolute; top: 10px; right: 10px;">X</button> -->
        </div>

        <div [chart]="chart"></div>
      </div>
      <div *ngIf="heartRateIntradayLoadingError">ERROR RETRIEVING DATA</div>

      <div
        *ngIf="
          !heartRateIntradayLoading && !heartRateIntradayLoadingError && !chart
        "
      >
        {{
          "dashboard.fitbit_data.interday.no_results_for_selected_interval"
            | translate
        }}
      </div>
    </div>
  </div>
  <div *ngIf="!interdayDataSource?.data.length && !heartRateInterdayLoading">
    {{
      "dashboard.fitbit_data.interday.no_results_for_selected_interval"
        | translate
    }}
  </div>

  <div *ngIf="heartRateInterdayLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
