::ng-deep div.navbar-collapse {
  height: unset !important; /*to counter height: 0*/
}

mdb-navbar ul.navbar-nav li.active {
  font-weight: bold;
}

#notifications-link {
  overflow: visible;
}

#notifications-link .counter {
  position: absolute;
  top: 0;
  right: 2px;
  z-index: 2;
  font-size: 14px;
  color: red;
}

#notifications-link mdb-icon {
  font-size: 1.3em;
  color: #616161;
}

@media (max-width: 990px) {
  notifications-dropdown {
    display: none;
  }
}
