<!--Navbar-->

<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5"
  mdbStickyHeader
  [containerInside]="true"
>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/">{{
          "home.main_menu.home" | translate
        }}</a>
      </li>

      <li
        *ngIf="currentUser?.role_id === 2"
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/dashboard">
          {{ "home.main_menu.dashboard" | translate }}
        </a>
      </li>

      <li
        *ngIf="currentUser?.role_id === 1"
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          style="color: red;"
          [routerLink]="'/admin'"
        >
          {{ "home.main_menu.administration" | translate }}
        </a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <!-- Language Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          {{ "shared.language" | translate }}<span class="caret"></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary"
          role="menu"
        >
          <button
            (click)="setLocale('es-MX')"
            class="dropdown-item waves-light"
            mdbWavesEffect
          >
            Espa&ntilde;ol
            <img height="15" src="assets/images/flags/icons8-mexico-50.png" />
          </button>
          <button
            (click)="setLocale('es-ES')"
            class="dropdown-item waves-light"
            mdbWavesEffect
          >
            Espa&ntilde;ol
            <img height="15" src="assets/images/flags/icons8-spain-50.png" />
          </button>
          <button
            (click)="setLocale('en-US')"
            class="dropdown-item waves-light"
            mdbWavesEffect
          >
            English
            <img height="15" src="assets/images/flags/icons8-usa-50.png" />
          </button>
        </div>
      </li>

      <!-- Incidents Link -->
      <li *ngIf="isAuthenticated" class="nav-item">
        <a
          type="button"
          class="nav-link waves-light"
          mdbWavesEffect
          [routerLink]="['/incidents']"
        >
          <mdb-icon fas icon="exclamation"></mdb-icon>
        </a>
      </li>

      <!-- Notifications Link -->
      <li *ngIf="isAuthenticated" class="nav-item" fxShow fxHide.gt-xs>
        <a
          id="notifications-link"
          type="button"
          class="nav-link waves-light"
          mdbWavesEffect
          [routerLink]="['/notifications']"
        >
          <mdb-icon
            *ngIf="newNotifications"
            fas
            icon="exclamation-circle"
            class="counter"
          ></mdb-icon>
          <mdb-icon fas icon="bell"></mdb-icon>
          <span
            class="counter"
            *ngIf="newNotifications && notifications$ | async as notifications"
          >
            {{ notifications.length ? notifications.length : "" }}
          </span>
        </a>
      </li>

      <!-- Notifications Dropdown -->
      <notifications-dropdown
        fxHide.lt-sm
        *ngIf="isAuthenticated"
        [notifications]="notifications$ | async"
        [newNotifications]="newNotifications"
        (click)="newNotifications = false"
      ></notifications-dropdown>

      <!-- User Account Dropdown -->
      <li *ngIf="isAuthenticated" class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          <mdb-icon far icon="user"></mdb-icon>
        </a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary dropdown-menu-right"
          role="menu"
        >
          <!-- <a [routerLink]="['/notifications']" class="dropdown-item" href="#">
            {{ "home.main_menu.notifications" | translate }}</a
          > -->
          <button [routerLink]="['/profile']" class="dropdown-item">
            {{ "shared.profile" | translate }}
          </button>
          <button (click)="logout()" class="dropdown-item">
            {{ "shared.logout" | translate }}
          </button>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li *ngIf="!isAuthenticated" class="nav-item">
        <a
          [routerLink]="['/login']"
          class="nav-link waves-light"
          mdbWavesEffect
          >{{ "shared.login" | translate }}</a
        >
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>

<main ngClass.gt-xs="container" style="margin-top: 60px;">
  <!-- style="margin-top: 60px; height: calc(100vh - 265px); overflow: auto;" -->
  <router-outlet></router-outlet>
</main>
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-3">
  <!-- <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Footer Content</h5>
        <p>
          Here you can use rows and columns here to organize your footer
          content.
        </p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3" />

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div> -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="#"> Company</a>
    <!-- <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- <button (click)="unsubscribe()">unsubscribe</button> -->
<!-- <button (click)="playAudio()">unsubscribe</button> -->
