<!--Navbar-->
<mdb-navbar
  #navbar
  SideClass="navbar navbar-expand-lg navbar-light blue-grey lighten-5 new-notification"
  mdbStickyHeader
  [containerInside]="true"
  class=""
  [ngClass]="{ 'new-notification': newNotifications }"
>
  <mdb-icon
    *ngIf="newNotifications"
    fas
    icon="exclamation-circle"
    class="counter"
  ></mdb-icon>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/">{{
          "main_menu.home" | translate | sentenceCase
        }}</a>
      </li>

      <li
        *ngIf="currentUser?.role_id === 2"
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/dashboard">
          {{ "main_menu.dashboard" | translate | sentenceCase }}
        </a>
      </li>

      <li
        *ngIf="currentUser?.role_id === 1"
        class="nav-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          style="color: red;"
          [routerLink]="'/admin'"
        >
          {{ "main_menu.administration" | translate | sentenceCase }}
        </a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <!-- Language Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          {{ "shared.language" | translate | sentenceCase
          }}<span class="caret"></span>
        </a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary"
          role="menu"
        >
          <button
            (click)="setLocale('es-MX')"
            class="dropdown-item waves-light"
            mdbWavesEffect
          >
            Espa&ntilde;ol
            <img height="15" src="assets/images/flags/icons8-mexico-50.png" />
          </button>
          <button
            (click)="setLocale('es-ES')"
            class="dropdown-item waves-light"
            mdbWavesEffect
          >
            Espa&ntilde;ol
            <img height="15" src="assets/images/flags/icons8-spain-50.png" />
          </button>
          <button
            (click)="setLocale('en-US')"
            class="dropdown-item waves-light"
            mdbWavesEffect
          >
            English
            <img height="15" src="assets/images/flags/icons8-usa-50.png" />
          </button>
        </div>
      </li>

      <!-- Incidents Link -->
      <li
        *ngIf="currentUser?.role_id === 2 || currentUser?.role_id === 3"
        class="nav-item"
      >
        <a
          type="button"
          class="nav-link waves-light"
          mdbWavesEffect
          [routerLink]="['/incidents']"
        >
          <mdb-icon fas icon="exclamation" class="red-text"></mdb-icon>
        </a>
      </li>

      <!-- Notifications Dropdown -->
      <notifications-dropdown
        *ngIf="isAuthenticated"
        [notifications]="notifications$ | async"
        [newNotifications]="newNotifications"
        (click)="newNotifications = false"
      ></notifications-dropdown>

      <!-- User Account Dropdown -->
      <li *ngIf="isAuthenticated" class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          <mdb-icon far icon="user"></mdb-icon>
        </a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary dropdown-menu-right"
          role="menu"
        >
          <!-- <a [routerLink]="['/notifications']" class="dropdown-item" href="#">
            {{ "main_menu.notifications" | translate }}</a
          > -->
          <button [routerLink]="['/profile']" class="dropdown-item">
            {{ "shared.profile" | translate | sentenceCase }}
          </button>
          <button (click)="logout()" class="dropdown-item">
            {{ "shared.logout" | translate | sentenceCase }}
          </button>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li *ngIf="!isAuthenticated" class="nav-item">
        <a
          [routerLink]="['/login']"
          class="nav-link waves-light"
          mdbWavesEffect
          >{{ "shared.login" | translate | sentenceCase }}</a
        >
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->
</mdb-navbar>

<main
  ngClass.gt-xs="container-fluid"
  style="margin-top: 60px; min-height: calc(100vh - 160px);"
>
  <router-outlet></router-outlet>
</main>

<footer class="page-footer font-small special-color-dark pt-4 mt-4">
  <div class="footer-copyright text-center py-3">
    © ITO Orizaba
  </div>
</footer>
