::ng-deep div.navbar-collapse {
  height: unset !important; /*to counter height: 0*/
}

mdb-navbar ul.navbar-nav li.active {
  font-weight: bold;
}

#notifications-link {
  overflow: visible;
}

#notifications-link span.counter {
  position: relative;
  padding: 0.3em 0.5em 0.3em;
  top: -1em;
  left: -1em;
  z-index: 2;
  font-size: 11px;
  color: #fff;
  background-color: #fe1212;
  border-radius: 10em;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#notifications-link mdb-icon {
  font-size: 1.3em;
  color: #616161;
}
