::ng-deep div.navbar-collapse {
  height: unset !important; /*to counter height: 0*/
}

mdb-navbar ul.navbar-nav li.active {
  font-weight: bold;
}

#notifications-link {
  overflow: visible;
}

#notifications-link .counter {
  position: absolute;
  top: 0;
  right: 2px;
  z-index: 2;
  font-size: 14px;
  color: red;
}

#notifications-link mdb-icon {
  font-size: 1.3em;
  color: #616161;
}

// footer {
//   z-index: -1;
// }

// @media (min-width: 768px) {
//   footer {
//     position: fixed;
//     right: 0;
//     bottom: 0;
//     left: 0;
//   }
// }
