@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

:host {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  width: 300px;
  color: red;
}

#login {
  float: right;
}

@media screen and (max-width: 768px) {
  :host {
    margin-top: 30%;
  }
}
