<h1 class="mat-headline">
  {{ "admin.users_panel.fitbit_accounts" | translate }}
</h1>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3>{{ "admin.users_panel.fitbit_accounts" | translate }}</h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <ng-container *ngFor="let fitbitAccount of fitbitAccounts | keyvalue">
        <mat-list-item role="listitem">
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            style="width: 100%"
          >
            <div>
              <label> {{ fitbitAccount.value.fullname }} </label>
            </div>
            <div>
              <a
                (click)="revokeAccessToken(fitbitAccount.value.id)"
                class="text-danger"
              >
                <button
                  matTooltip="{{
                    'admin.users_panel.revoke_access_token' | translate
                  }}"
                  mat-icon-button
                >
                  <mat-icon>link_off</mat-icon>
                </button>
              </a>
              <a
                (click)="refreshAccessToken(fitbitAccount.value.id)"
                class="text-danger"
              >
                <button
                  matTooltip="{{
                    'admin.users_panel.refresh_access_token' | translate
                  }}"
                  mat-icon-button
                >
                  <mat-icon>autorenew</mat-icon>
                </button>
              </a>
              <button mat-icon-button>
                <mat-icon
                  click-event
                  params="[stopPropagation]"
                  color="warn"
                  (click)="deleteFitbitAccount(fitbitAccount.key)"
                >
                  delete
                </mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
