<!-- Table  -->
<div class="table-responsive z-depth-1">
  <table mdbTable class="table" hover="true">
    <!-- Table head -->
    <thead class="blue-grey darken-3 white-text">
      <tr>
        <th>
          {{ "shared.severity" | translate }}
        </th>
        <th>
          {{ "shared.date" | translate }}/{{
            "notifications_panel.time" | translate
          }}
        </th>
        <th>
          {{ "notifications_panel.senior_person" | translate }}
        </th>
        <th>{{ "shared.message" | translate }}</th>
        <th>
          {{ "shared.actions" | translate }}
        </th>
      </tr>
    </thead>
    <!-- Table head -->

    <!-- Table body -->
    <tbody>
      <tr
        *ngFor="let notification of notifications"
        [routerLink]="['/notifications']"
        class="{{ notification?.severity }} notification"
        [ngClass]="{
          unread: !notification?.read
        }"
        (click)="viewIncidentDetails(notification)"
      >
        <td>
          <mdb-icon fas icon="{{ ICONS[notification?.severity] }}"></mdb-icon>
        </td>
        <td>
          {{ notification?.localeFormat }}
        </td>

        <td>
          {{ notification?.senior_person?.fullname }}
        </td>
        <td class="message">
          {{ "notifications_panel.accident_probability" | translate }}:
          <span>{{ notification?.message | translate }}</span>
        </td>
        <td scope="row">
          <!-- Default unchecked -->
          <!-- <div class="custom-control custom-checkbox"> -->
          <!-- <mdb-checkbox default="true"></mdb-checkbox> -->
          <!-- <mdb-icon
            click-event
            click-event-params="[stopPropagation]"
            mdbTooltip="{{ 'notifications_panel.notify' | translate }}"
            placement="left"
            fas
            icon="bullhorn"
            class="mr-1 red-text"
            (click)="getContacts(notification.senior_person, notification)"
          ></mdb-icon> -->
          <mdb-icon
            click-event
            click-event-params="[stopPropagation]"
            mdbTooltip="{{
              'notifications_panel.' +
                (notification?.read ? 'mark_unread' : 'mark_read') | translate
            }}"
            placement="left"
            far
            icon="{{ notification?.read ? 'envelope-open' : 'envelope' }}"
            (click)="toggleRead(notification)"
          ></mdb-icon>

          <!-- </div> -->
        </td>
      </tr>
      <tr *ngIf="notifications.length === 0">
        <td colspan="5">
          <div
            class="alert alert-primary"
            role="alert"
            style="text-align: center;"
          >
            {{ "notifications_panel.no_new_notifications" | translate }}
          </div>
        </td>
      </tr>
    </tbody>
    <!-- Table body -->
  </table>
</div>

<!-- Table  -->
