<mat-list role="list">
  <ng-container *ngFor="let notification of notifications | keyvalue">
    <mat-list-item role="listitem">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>{{ "admin.users_panel.fitbit_accounts" | translate }}</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%">
          <div>
            <label> {{ notification.value.fullname }} </label>
          </div>
          <div>
            <button mat-icon-button>
              <mat-icon click-stop-propagation color="warn" (click)="deletenotification(notification.key)">
                delete
              </mat-icon>
            </button>
          </div>
        </div> -->
    </mat-list-item>
  </ng-container>
</mat-list>
