<div>
  <button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
  <br />
  <br />
  Heart Rate Time Series for user: <b>{{ user?.user.fullName }}</b>

  {{ heartRateTimeSeries | json }}
  <br />
  <br />

  <select (change)="timeSpanChanged()">
    <option *ngFor="let timeSpan of timeSpans" value="{{htmlService.keys(timeSpan)}}">
      {{timeSpan[htmlService.keys(timeSpan)]}}
    </option>
  </select>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Out of range</th>
        <th>Fat Burn</th>
        <th>Cardio</th>
        <th>Peak</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let day of heartRateTimeSeries">
        <td>{{day.dateTime}}</td>
        <td *ngFor="let heartRateZone of day.value.heartRateZones; let i = index">
            Calories out: {{ heartRateZone.caloriesOut }}
            Min: {{ heartRateZone.min }} 
            Max: {{ heartRateZone.max }} 
            Minutes: {{ heartRateZone.minutes }}
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="col-md-3 col-sm-4 item-container" *ngFor="let day of heartRateTimeSeries">
    <div class="item">
      <div class="col-md-3 col-sm-4 item-container" *ngFor="let heartRateZone of day.value.heartRateZones; let i = index">
        Calories out
        {{ heartRateZone.caloriesOut }}
        | Max
        {{ heartRateZone.max }}
        | Min
        {{ heartRateZone.min }}
        | Minutes
        {{ heartRateZone.minutes }}
        | Name
        {{ heartRateZone.name }}
      </div>

    </div>
  </div>
  <div class="col-md-3 col-sm-4 item-container" *ngFor="let item of heartRateTimeSeries">
    <div class="item">
      <div class="col-md-3 col-sm-4 item-container" *ngFor="let heartRateZone of item.value.heartRateZones; let i = index">
        Calories out
        {{ heartRateZone.caloriesOut }}
        | Max
        {{ heartRateZone.max }}
        | Min
        {{ heartRateZone.min }}
        | Minutes
        {{ heartRateZone.minutes }}
        | Name
        {{ heartRateZone.name }}
      </div>

      <p class="rank">
        <img src="" class="img-responsive" *ngFor="let rank of item.rank" /> 
      </p>
    </div>
  </div>
</div> -->
